.works{
    background-color: white;

    
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
.Myworks{
    margin-left: 10vh;
    font-family: 'PT Sans';
    font-size: 5vw;
    font-style: bold ;
    text-align: center;
    color: #353737;
    margin-bottom: 15vh;
}

.work-cards{
    font-family: 'PT Sans Narrow';
    display: flex;
    margin: 10vh;

}
.work-cards h1{
    font-family: 'PT Sans Narrow';
    font-size: 6vh;
    
    background-color: white;
    padding-right: 8vw;
    padding-left: 8vw;
    margin-bottom: 30vh;
}



.container {
    position: relative;
    max-width: 50vh;
    max-height: 40vh;
    overflow-y: hidden;
    border: 2vh;
    border-radius: 5vh;
    margin: 3.5vh;
  }
  
  img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover , img{
    opacity: 0.8;
    
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .tasky, .pg {
    background-color: rgb(2, 16, 30);
    color: white;
    font-size: 3.5vh;
    padding: 3vh;
    border-radius: 1vh;
    border: none;
  }

  